extends ../layouts/index

block content
        h1.text-4xl.my-10.font-bold.text-center Real 
            span.font-normal State
        h2.text-2xl.text-center.font-bold= title

        p.text-xl.font-bold.text-center.my-10= msg